/* .d-nut-chart {
    position: relative;
    display: flex;
    height: 100%;
    max-height: 400px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: var(--border-radius);
    padding-bottom: 10px;
    padding-top: 10px;
} */

