 
  .header {
    font-size: 3vh;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    --button-size: calc(var(--nav-size) * 0.5);
    height: var(--button-size);
    padding: 5px;
    /* margin: 10px; */
  }

  .open-beta {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #c9c9c9;
    cursor: pointer;
    display: flex;
    padding: 0px 5px 5px 5px;
    align-items: flex-end;
  }