
  .nav-cta-button {
    height: 40px;
    display: flex;
    border: 0;
    width: 100%;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: rgb(53, 53, 53);
    background-size: 200% 200%;
    transition: 0.3s;
    width: 235px;
    align-items: center;
  }
  
  .address-display {
    height: 40px;
    display: flex;
    border: 0;
    width: 100%;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: rgb(53, 53, 53);
    background-size: 200% 200%;
    transition: 0.3s;
    width: 235px;
    align-items: center;
  }

  .address-display:hover {
    background-color: #b4b4b4;
  }

  .type-address {
    display: flex;
    height: 40px;
    margin: 0 5px 0 5px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(53, 53, 53);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .paste-bar {
    height: 30px;
    display: flex;
    border: 0;
    outline: none;
    padding-left: 20px;
    border-radius: 10px;
    cursor: text;
    color: #b4b4b4;
    font-size: 13px;
    background: rgb(53, 53, 53);
    background-size: 200% 200%;
    transition: 0.3s;
    width: 100%;
    align-items: center;
  }

  .submit-button {
    height: 30px;
    display: flex;
    margin: 0px 5px 0px 5px;
    width: 50px;
    border-radius: 10px;
    font-size: 26px;
    color: #b4b4b4;
    cursor: pointer;
    border: 0;
    background-color: #141414;
    align-items: center;
    justify-content: center;
  }

  .paste-bar:hover {
    color: #b4b4b4;
  }
 
  /* .paste-bar:focus::placeholder {
    color: transparent;
  } */

  .paste-bar:hover::placeholder {
    color: transparent;
  }

  .paste-bar::placeholder {
    color: #b4b4b4;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }